<%= for book <- Inventory.newest_books() do %>
    <tr>
      <td><%= full_name(book.author) %></td>
      <td><%= book.title %></td>
      <td><%= book.original_price %></td>
      <td><%= book_img(book, :thumbnail) %></td>
<% end %>