<h1>Your Cart</h1>
<%= if @books do %>
  <ul>
    <%= for book <- @books do %>
      <li>
        <%= book.title %>: £<%= book.original_price %>
        <%= link "X", to: Routes.cart_path(@conn, :delete, book_slug: book.slug), method: :delete %>
      </li>
    <% end %>
  </ul>
<% else %>
  <p>No books in your cart</p>
<% end %>